*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1{
    font-weight: bold;
    color: #912338;

}

h2{
    font-weight: bold;
    color: black;
}

h3{
    font-weight:normal;
    color:#c88f99;
}

p{
    font-weight:normal;
    color:black;
    text-align:center;
}


.primaryButton{
    background-color: #c4a0a7;
    text-transform: uppercase;
    font-weight:normal;
    color:black;
    border-radius: 6px;
}

.primaryButton:hover{
    background-color:#912338;
    text-transform: uppercase;
    font-weight:bold;
    color:white;
    border-radius:6px;
}

.primaryButton:active{
    background-color:#470a15;
}
.secondaryButton{
    text-transform:uppercase;
    background-color:#0f73ae;
    color:white;
    font-weight:normal;
    border-radius:6px;

}

.secondaryButton:hover{
    background-color:#5c9abe;
    font-weight:bold;

}

.secondaryButton.active{
    background-color:#084263;
    font-weight:bold;
}

.largeButton{
    display:block;
    margin:0 auto;
    text-transform:uppercase;
    color:black;
    background-color:#c4a0a7;
    border-radius:6px;
    padding:20px 30px;
    text-align:center;
    width:210px;
}

.largeButton:hover{
    background-color:#912338;
    color:white;
    font-weight:bold;
}



.site-footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-colour:#912338;
    
}

.site-header{
    background-color:white;
    width:100%;
    text-align:center;
    padding:10px 0;
}

.site-header img{
    display:block;
    margin:0 auto;
}

.redBlock{
    background-color:#c4a0a7;
    color:black;
    border-radius:6px;
    padding:10px;
}

.approveButton{
    text-transform:uppercase;
    color:black;
    background-color:lightgreen;
    border-radius:6px;
}

.approveButton:hover{
    color:white;
    font-weight:bold;
    background-color:green;
}

.denyButton{
    color:black;
    text-transform:uppercase;
    background-color:lightcoral;
    border-radius:6px;
}

.denyButton:hover{
    color:white;
    font-weight:bold;
    background-color:red;
}
